.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 74px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  font-size: 1.1rem;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  background: transparent;
  border-bottom: none;
  font-size: inherit;
}

.logo {
  height: 40px;
}
